@tailwind base;
@tailwind components;
@tailwind utilities;

html body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Roboto';
}
.error{
  color: red;
  font-size: 14px;
  text-align: center;
  visibility: visible;
}
.success{
  color: green;
  font-size: 14px;
  text-align: center;
  visibility: visible;
}